.stButton > button:hover{
    border-color: blue;
}

.stButton > button > div > p:hover{
    color: blue;
} 
.st-emotion-cache-7ym5gk:hover{
    color: blue;
}

header{
    display: none;
    visibility: hidden;

}

div.viewerBadge_link__qRIco{
    display: none;
    visibility: hidden;
}
.styles_stateContainer__CelYF{
    display: none;
    visibility: hidden;
}